@import "../variables.scss";

.bio-container {
  color: $primary-white;
  background-color: rgb(29, 28, 28);
  box-shadow: 5px 5px $primary-blue;
  font-family: "Sunflower";

  width: 100vw;

  display: inline-block;

  margin-top: 125px;
  margin-bottom: 100px;

  img {
    width: 400px;
    height: 400px;
    clip-path: circle(250px at 100px 100px);
  }
}
