@import "../variables.scss";

.bio-container {
  color: $primary-white;
  background-color: rgb(29, 28, 28);

  width: 50vw;

  display: inline-block;
  margin: 5vh auto;

  img {
    width: 400px;
    height: 400px;
    clip-path: circle(250px at 100px 100px);
  }
}
