@import "../variables.scss";

.bio-container {
  color: $primary-white;
  background-color: $primary-black;
  font-family: "Sunflower";

  display: block;
  height: 400px;
  margin-top: 125px;
  margin-bottom: 10px;
}
.bio-container img {
  width: 400px;
  height: 400px;
  clip-path: circle(250px at 100px 100px);
}

.bio-container h2 {
  padding: 20px 20px;
  font-size: calc(5px + 3vw);
}

.bio-container p {
  font-size: calc(5px + 1vw);
  padding: 12px 50px 12px 50px;
  text-align: right;
}

@media (max-width: 500px) {
  .bio-container img {
    display: none;
  }

  .bio-container {
    height: auto;
  }
}
