@import "../variables.scss";

.App-header {
  position: fixed;
  z-index: +2;
  width: 100%;
}

.header-links li:first-child {
  margin-right: 12px;
}

.header-links li:hover {
  border-bottom: 2px solid $primary-pink;
}

.header-links li {
  float: right;
  margin-left: 5vw;
  font-size: calc(5px + 2vw);
  font-family: "Sunflower";
  color: $primary-blue;
  text-shadow: 2px 2px $primary-black;
  text-decoration: none;
}

.header-links {
  list-style-type: none;
  margin-right: 20px;
  margin-top: 20px;
}
