@import "../variables.scss";

.Logo-header {
  margin-top: 40px;
  position: fixed;
  top: -40px;
  z-index: +2;
  opacity: 0.8;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;

  img {
    width: 100%;
    height: 100%;
  }
}
