@import "../variables.scss";

.App-header {
  background-color: $primary-blue;
  opacity: 0.9;
  position: fixed;
  z-index: +1;
  width: 100%;
  min-height: 10vh;
  height: 10vh;
  max-height: 15vh;
  margin-top: 0 px;
}

.header-links li {
  //align-items: right;
  //justify-content: right;
  //display: flex;
  //flex-direction: column;
  float: right;
  margin-left: 100px;
  font-size: calc(10px + 2vmin);

  a {
    color: $primary-black;
    text-decoration: none;
  }
  a:hover {
    color: gray;
    text-decoration: none;
  }
  a:active {
    color: gray;
    text-decoration: none;
  }
  a:visited {
    color: $primary-black;
    text-decoration: none;
  }
}

.header-links {
  list-style-type: none;
  margin-left: 100px;
}
