@import "../variables.scss";

.social-container {
  background: $primary-pink;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: $primary-blue;
}

a.spotify {
  color: $primary-blue;
}

a.instagram {
  color: $primary-blue;
}

a.facebook {
  color: $primary-blue;
}
