@import "../variables.scss";

.social-container {
  background-color: $primary-black;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: all 250ms ease;
  display: inline-block;
  filter: drop-shadow(2px 2px $primary-pink);
}

a.social:hover {
  transform: translateY(-2px);
  color: #48c8ff;
}

a.youtube {
  color: $primary-blue;
}

a.spotify {
  color: $primary-blue;
}

a.instagram {
  color: $primary-blue;
}

a.facebook {
  color: $primary-blue;
}
