@import "../variables.scss";

.home-container {
  h1 {
    color: white;
    margin: 0;
  }
  min-height: 90vh;
  background-color: $primary-pink;
  //background-image: url("../../assets/In the Studio.jpg");
  // background-repeat: repeat;
  // background-attachment: fixed;
  // background-size: 400px 400px;
}
