@import "../variables.scss";

.merchandise-page {
  padding: 15px 15px 15px 15px;
  background-color: $primary-black;
  color: $primary-white;
  font-family: "Sunflower";
  overflow: auto;
  h3 {
    padding-top: 100px;
    margin: 0;
    text-decoration: none;
  }

  @media (max-width: 400px) {
    .merch-products {
      grid-template-columns: 1fr 1fr;
      //? We took this out bc we want images to be square in this grid
      // grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 5vw 5vw;
      padding: 5vw;
    }
  }

  // @media (min-width: 401px) and (max-width: 800px) {
  //   .merch-products {
  //     grid-template-columns: 1fr 1fr;
  //     //? We took this out bc we want images to be square in this grid
  //     // grid-template-rows: 1fr 1fr 1fr;
  //     grid-gap: 5vw 5vw;
  //     padding: 5vw;
  //   }
  // }

  @media (min-width: 401px) {
    .merch-products {
      grid-template-columns: 1fr 1fr 1fr;
      //? We took this out bc we want images to be square in this grid
      // grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 5vw 5vw;
      padding: 5vw;
    }
  }

  .merch-products {
    display: grid;

    .product {
      overflow: visible;
      box-shadow: 3px 3px 2px $primary-blue, -2px -2px 2px $primary-pink;

      a {
        text-decoration: none;
        color: $primary-white;
      }

      h3 {
        padding: 0;
        font-size: calc(10px + 1vw);
      }

      img {
        width: 100%;
        height: 100%;

        min-width: 100px;
        min-height: 100px;

        max-width: 600px;
        max-height: 600px;
      }
    }
  }
}
