@import "../variables.scss";

.merchandise-page {
  background-color: $primary-black;
  color: $primary-white;
  min-height: 78vh;
  h1 {
    padding-top: 100px;
    margin: 0;
  }

  .merch-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 15vh 15vh;
    grid-gap: 5vw 5vw;
    padding: 5vw;

    div {
      background-color: grey;
    }

    div:hover {
      border-bottom: 4px solid $primary-blue;
    }
  }
}
